<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356910128272-c1gh635do1ugknr4p75drposqbrbcfl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356910128272-c1gh635do1ugknr4p75drposqbrbcfl2</string>
	<key>API_KEY</key>
	<string>AIzaSyDwN4_xFwvca4fIlzlEMVq0XqucYAx1wL4</string>
	<key>GCM_SENDER_ID</key>
	<string>356910128272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.moresushant48.chatout</string>
	<key>PROJECT_ID</key>
	<string>chatout-decb3</string>
	<key>STORAGE_BUCKET</key>
	<string>chatout-decb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356910128272:ios:d1d1c7d02048df5bcf0c15</string>
	<key>DATABASE_URL</key>
	<string>https://chatout-decb3.firebaseio.com</string>
</dict>
</plist>